<!doctype html>
<html lang="en">
<!-- Header da pagina-->
<head th:replace="~{base ::  header-default}">
</head>
<body>

<div class="container">
    <div class="card p-3 my-3">
        <h1>Login</h1>
        <form class="my-2" method="post" th:action="@{/login}">

            <div class="col-md-6 mb-3">
                <label for="email">Nome de usuário</label>
                <input class="form-control" name="username" placeholder="Digite o seu nome de usuário" type="text"/>
            </div>

            <div class="col-md-6 mb-3">
                <label for="password">Senha</label>
                <input class="form-control" name="password" placeholder="Digite a sua senha que você cadastrou" type="password"/>
            </div>

            <div class="col-md-5 mb-3">
                <a href="/user"><span class="badge-pill badge-light navbar-brand">Faça o seu cadastro aqui</span></a>
            </div>

            <div class="col-md-5 mb-3">
                <button class="btn btn-success btn-lg" type="submit">Fazer Login</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>