<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Novos Produtos</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <!-- Formulario para cadastrar novo produto -->
    <form class="my-3" name="newProduct" title="Formulario para cadastrar novos produtos"
          action="/product/new-product-register" method="post">
        <div class="mb-3">
            <label class="form-label" for="productName">Produto</label>
            <input class="form-control" name="productName" placeholder="Nome do Produto"/>
            <small class="form-text">Adicione o nome do produto que você deseja</small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="url">URL</label>
            <input class="form-control" name="urlProduct" placeholder="URL do Produto"/>
            <small class="form-text">Procure em um site o produto que você deseja e cole a URL aqui.</small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="productImage">Imagem</label>
            <input class="form-control" name="urlImage" placeholder="Imagem do Produto"/>
            <small class="form-text">Adicione uma imagem do produto.</small>
        </div>

        <div class="mb-3">
            <label class="form-label" for="productDescription">Descrição</label>
            <textarea class="form-control" name="description" placeholder="Descrição do Produto"></textarea>
            <small class="form-text">Adicione detalhes que você acha importantes para ajudar o comprador.</small>
        </div>

        <div class="mb-3">
            <button class="btn btn-outline-success" type="submit" title="cadastrar novo produto">Cadastrar Novo
                Produto
            </button>
        </div>
    </form>
</div>
</body>
</html>