<!doctype html>
<html lang="en">
<!-- Header da pagina-->
<head th:replace="~{base ::  header-default}">
</head>

<body>
<!-- Logo da pagina-->
<div th:replace="~{base :: logo-page}"></div>

<div class="container">
    <!-- Formulario para cadastrar novo produto -->
    <div class="card my-3">
        <form th:object="${registerNewProductDTO}" class="my-3 mx-3 " name="newProduct"
              title="Formulario para cadastrar novos produtos"
              action="/product/new-product-register" method="post">

            <div class="form-group">
                <label class="form-label" for="productName">Nome do Produto</label>
                <input th:field="*{productName}" th:errorclass="is-invalid" type="text" class="form-control"
                       placeholder="Nome do Produto"/>
                <small class="form-text text-muted">Adicione o nome do produto que você deseja</small>
                <div th:errors="*{productName}" class="invalid-feedback"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="urlProduct">URL do Produto</label>
                <input th:field="*{urlProduct}" th:errorclass="is-invalid" type="url" class="form-control"
                       placeholder="URL do Produto"/>
                <small class="form-text text-muted">Procure em um site o produto que você deseja e cole a URL
                    aqui.</small>
                <div th:errors="*{urlProduct}" class="invalid-feedback"></div>
            </div>

            <div class="form-group ">
                <label class="form-label" for="urlImage">URL da Imagem</label>
                <input th:field="*{urlImage}" th:errorclass="is-invalid" type="url" class="form-control"
                       placeholder="URL da imagem do Produto"/>
                <small class="form-text text-muted">Adicione a URL que contenha apenas a imagem do produto.</small>
                <div th:errors="*{urlImage}" class="invalid-feedback"></div>
            </div>

            <div class="form-group">
                <label class="form-label" for="description">Descrição</label>
                <textarea th:field="*{description}" th:errorclass="is-invalid" class="form-control"
                          placeholder="Descrição do Produto"></textarea>
                <small class="form-text text-muted">Adicione detalhes que você acha importantes para ajudar o
                    comprador.</small>
                <div th:errors="*{description}" class="invalid-feedback"></div>
            </div>

            <div class="form-group">
                <button class="btn btn-outline-success" type="submit" title="cadastrar novo produto">Cadastrar Novo
                    Produto
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>