<!DOCTYPE html>
<html lang="en">
<!-- Header da pagina-->
<head th:replace="~{base ::  header-default}">
    <title>Cadastro - Usuario</title>
</head>
<body>
<div class="container">
    <div class="card p-3 my-3">
        <h1 class="my-3 mt-2">Cadastro de Usuario</h1>
        <form class="my-2" th:object="${registerUserDTO}" th:action="@{/user}" method="post">

            <div class="form-group">
                <label class="form-label">Nome Completo</label>
                <input class="form-control" type="text" autofocus placeholder="Digite seu nome  completo."
                       minlength="5" maxlength="90" th:field="*{fullName}" th:errorclass="is-invalid"/>
                <small class="form-text text-muted">Digite o seu nome completo.</small>
                <div th:errors="*{fullName}" class="invalid-feedback"></div>
            </div>

            <div class="form-group">
                <label class="form-label">Nome do Usuario</label>
                <input class="form-control" type="text" placeholder="Digite o nome do usuario."
                       minlength="5" maxlength="20" th:field="*{username}" th:errorclass="is-invalid"/>
                <small class="form-text text-muted">Escolha o seu nome de usuário.</small>
                <div th:errors="*{username}" class="invalid-feedback"></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" placeholder="Digite o seu e-mail"
                           minlength="10" maxlength="40" th:field="*{email}" th:errorclass="is-invalid"/>
                    <small class="form-text text-muted">Adicione o seu endereço e-mail</small>
                    <div th:errors="*{email}" class="invalid-feedback"></div>
                </div>

                <div class="form-group col-md-6">
                    <label class="form-label">Senha</label>
                    <input class="form-control" type="password" placeholder="Digite a sua senha."
                           minlength="5" maxlength="10" th:field="*{password}" th:errorclass="is-invalid"/>
                    <small class="form-text text-muted">Adicione uma senha que você se lembre.</small>
                    <div th:errors="*{password}" class="invalid-feedback"></div>
                </div>
            </div>
            <div class="form-group mt-2">
                <button class="btn btn-success btn-lg" type="submit">Fazer o Cadastro</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>